.claude
/.shader_cache/
/build/
/build_python/
/operators/runtime/CompiledShaders.cpp
.DS_Store
/interface/python/.pytest_cache
/interface/python/build
/models
/.venv
.aider*
/references
__pycache__/
*.pyc
*.so
CLAUDE.md